body {
	margin: 0px;
	/* background-color: #644; */
	z-index: 0;
	background-image: url('assets/bg.jpg');
	font-family: 'Press Start 2P', sans-serif;
}

.nation-state {
	position: relative;
	bottom: 20px;
	padding: 10px;
	margin: 0 20px;
	display: inline;
	display: inline-block;
	border: 2px solid: lightblue;
	border-radius: 5px;
	color: #cccccc;
	background-color: rgba( 255, 255, 255, 0.2 );
	font-size: 8px;
	font-weight: bold,
	text-align: center;
	background-image: url('assets/nations.png');
}

.wpn {
	position: relative;
	width: 10px;
	height: 10px;
	background-color: red;
	border: 1px solid grey;
	display: inline;
	display: inline-block;

	border-radius: 5px;
}

#footer {
	position: absolute;
	width: 100%;
	bottom:0px;
	background-color: black;
	height: 64px;
	margin: 0px;
}


#banner {
	position: absolute;
	width: 100%;
	top:0px;
	height: 128px;
	background-image: url('assets/title.png');
	margin: 0px;
	z-index: 2;
}

.sf-stage {
	position: absolute;
	margin: 0;
	bottom: 44px;
	left: auto;
	right: auto;
	pointer-events: none;
	z-index: 400;
}

#international {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 100%;
}

#energy-gauge {
	position: absolute;
	width: 50px;
	height: 150px;
	right: 20px;
	top: 128px;
	border: 2px solid white;
	overflow: none;
	border-radius: 6px;
}

#energy-gauge-alert {
	position: absolute;
	display: inline-block;
	overflow: visible;
	left: 38px;
	bottom: 0px;
	width: 150px;
	font-size: 8px;

	transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;

	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	z-index: 670;
}
#energy-gauge-text {
	position: absolute;
	display: inline-block;
	overflow: visible;
	left: 19px;
	bottom: -10px;
	width: 150px;

	transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;

	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	z-index: 650;
}

#energy-gauge-fill {
	position: absolute;
	bottom: 0;
	background-color: lawngreen;
	width: 100%;
	height: 100%;
	z-index: 600;
}


#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	z-index: 1000;
	font-size: 100px;
	font-style: italic;
	text-align: center;
	padding-top: 200px;
}

.fadeout {
	transition: all 3s ease-in;
	background-color: rgba(0, 0, 0, 0.89);
	color: white;
}

.ui_control.button_control {
	background: url('assets/controls.png');
	background-position: -64px 0px;
	background-size: 256px 128px;
}
.dial_control {
	background: url('assets/controls.png');
	background-position: -128px 0px;
	background-size: 256px 128px;
}
.ui_control.lever_control {
	background: url('assets/controls.png');
	background-position: 0px 0px;
	height: 12px;
	background-size: 256px 128px;
}
.control_bin.lever_control_bin {
	background: url('assets/controls.png');
	background-position: 0px -64px;
	background-size: 256px 128px;
}
.control_bin {
	width: 64px;
	height: 64px;
	position: relative;
	display: inline;
	display: inline-block;
	vertical-align: top;
}

.ui_control {
	width: 64px;
	height: 64px;
	position: relative;
	display: inline;
	display: inline-block;
}
